@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

#header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: white;
}

h2 {
    color: rgb(39, 39, 39);
}

#logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 25px;
}

#nav-div {
    flex: 1;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
}

#nav-ul {
    margin-right: 125px;
}

nav li {
    margin: 0 015px;
}

nav a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-weight: bold;
    transition: 0.25s;
    font-size: 16px;
}

nav a:hover {
    color: rgb(119, 119, 119);
}

nav a:not(:hover) {
    opacity: 100%;
}

#cart-div {
    margin-right: 25px;
}

#shopping-bag {
    width: 35px;
    height: 37.5px;
}

@media screen and (max-width: 800px) {
    nav a {
        display: none;
    }

    #diff-brac {
        display: none;
    }
}

#diff-brac {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

#diff-brac-coll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.brac-p {
    font-size: 14px;
}

#brac-title {
    font-size: 18px;
    font-weight: 100;
}

.img-brac {
    display: grid;
    height: 150px;
    width: 150px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    transition: 0.35s;
}

.img {
    max-width: 60%;
}

.img-brac:hover {
    opacity: 60%;
}

.img-brac:not(:hover) {
    opacity: 100%;
}

p {
    font-size: 14px;
    text-align: center;
}

#main-page-info {
    margin: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content-big-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-small-img-div {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.content-small-img {
    height: 210px;
    width: 210px;
    margin: 5px;
    transition: .35s;
    border: 0 solid;
    border-radius: 25px;
    background-color: whitesmoke;
}

.content-small-img:hover {
    height: 220px;
    width: 220px;
}

#content-big-img:not(:hover) {
    height: 210px;
    width: 210px;
}

#content-big-img {
    height: 420px;
    width: 420px;
    margin: 5px;
    transition: .35s;
    border: 0 solid;
    border-radius: 50px;
}

#content-big-img:hover {
    height: 430px;
    width: 430px;
}

#content-big-img:not(:hover) {
    height: 420px;
    width: 420px;
}

#content-div-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-div-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-title {
    margin-top: 50px;
}

#main-page-text-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#main-page-text-content {
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

#main-page-text-photo {
    margin-left: 25px;
}

#main-photo {
    height: 500px;
    width: 500px;
    margin: 5px;
    border: 0 solid;
    border-radius: 50px 100px 50px 100px;
}

#main-page-text {
    width: 500px;
    margin-right: 30px;
}

#main-text-p {
    margin-top: 5px;
    text-align: start;
    font-size: 14px;
}

#smsb {
    margin-top: 25px;
    height: 25px;
}

#nav-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section-item {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-main {
    background-color: white;
}

#item-photos {
    display: grid;
    justify-content: center;
    width: 500px;
    margin-left: 200px;
    margin-right: 200px;
}

#item-photo-big, .item-photo-small {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#title-item {
    display: grid;
    justify-content: start;
    margin-left: 10px;
}

#item-h1 {
    font-size: 32px;
    font-weight: 1;
}

#item-h1-p {
    text-align: start;
    font-size: 12px;
}

.line {
    width: 400px;
    height: 4px;
    margin: 10px;
    border: 0;
    border-radius: 50px;
    background-color: rgb(219, 219, 219);
}

#line1 {
    margin-top: 75px;
}

#line2 {
    margin-bottom: 100px;
}

.line-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#item-photo-big {
    height: 550px;
    width: 550px;
    border: 0 solid;
    border-radius: 5px;
}

.item-photo-small {
    height: 75px;
    width: 75px;
    border: 0 solid;
    border-radius: 5px;
    margin-top: 10px;
}

.item-photo-small:hover {
    opacity: 50%;
}

#item-photo-big:hover {
    opacity: 50%;
}

#item-choice {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 50px;
}

#item-button1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 30px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 5px;
}

#upp-down-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#minus {
    border: 0 solid gray;
    color: white;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    height: 21px;
    width: 25px;
    margin: 5px;
}

#zero {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 solid gray;
    color: white;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 5px;
}

#plus {
    border: 0 solid gray;
    color: white;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    height: 21px;
    width: 25px;
    margin: 5px;
}

#size {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 solid gray;
    color: white;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    height: 30px;
    width: 75px;
    margin: 5px;
    margin-right: 10px;
}

#cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 solid gray;
    color: white;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    height: 30px;
    width: 150px;
    margin: 5px;
    margin-right: -1px;
}

#item-button2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

#item-button3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.item-p {
    text-align: start;
}

#description {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    margin-bottom: 100px;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: auto;
    background-color: whitesmoke;
}

#footer-div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 750px;
    height: 100px;
}

.footer-p {
    font-size: 12px;
}

.card-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  
.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
  
.flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
  
.page-wrapper {
    height: 100%;
    display: table;
}
  
.page-wrapper .page-inner {
    display: table-cell;
    vertical-align: middle;
}
  
.el-wrapper {
    width: 360px;
    padding: 15px;
    margin: 15px auto;
    background-color: #fff;
}
  
@media (max-width: 991px) {
    .el-wrapper {
      width: 345px;
    }
}
  
@media (max-width: 767px) {
    .el-wrapper {
      width: 290px;
      margin: 30px auto;
    }
}
  
.el-wrapper:hover .h-bg {
    left: 0px;
}
  
.el-wrapper:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: whitesmoke;
}
  
.el-wrapper:hover .add-to-cart {
    left: 50%;
}
  
.el-wrapper:hover .img {
    webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
}
  
.el-wrapper:hover .info-inner {
    bottom: 155px;
}
  
.el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
}
  
.el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.box-up {
    background-color: whitesmoke;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
}
  
.el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
  
.el-wrapper .img {
    padding: 20px 0;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
}
  
.h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
/* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
/* ease-out */
    width: 665px;
    height: 100%;
    background-color: #3f96cd;
    position: absolute;
    left: -659px;
}
  
.h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: #464646;
}
  
.info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
}
  
.info-inner .p-name,
.info-inner .p-company {
    display: block;
}
  
.info-inner .p-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #252525;
}
  
.info-inner .p-company {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #8c8c8c;
}
  
.a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #828282;
    opacity: 0;
}
  
.a-size .size {
    color: #252525;
}

.cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
  
.cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #252525;
}
  
.cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.cart .add-to-cart .txt {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
}