@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.page-header {
  position: relative;
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#tessa-logo {
  position: relative;
  width: 10%;
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.900));
}

.nav-bar {
  position: relative;
  padding: 20px;
}

.nav-bar a {
  position: relative;
  color: #fbfbfb;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  margin: 15px;
  font-weight: 600;
  z-index: 1;
}

.nav-bar a:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 5px;
  z-index: 0;
}

.nav-bar a:hover:before {
  opacity: 0.25;
  transform: translateX(0%) translateY(0%);
  z-index: 1;
}

.active {
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.900));
}

.nav-bar a.active:before,
.nav-bar a:hover:before {
  animation: move-box 0.3s ease-in-out;
  z-index: -1;
}

@keyframes move-box {
  0% {
    opacity: 0;
    transform: translate(calc(-100% + 5px), -5px);
  }
  100% {
    opacity: 0.25;
    transform: translate(calc(0% - 5px), -5px);
  }
}

.menu-icon {
  color: #1e1e1e;
  cursor: pointer;
  display: none;
}

button {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

@media screen and (max-width: 1920px) {
  #tessa-main {
    height: 100%;
    width: 100%;
  }

  #main-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .nav-bar {
    display: none;
    position: relative;
    top: 3.7rem;
    left: 0;
    width: 100%;
    text-align: center;
  }

  #tessa-logo {
    width: 25%;
  }

  .nav-bar.responsive {
    display: block;
  }

  .nav-bar a {
    display: block;
  }

  .menu-icon {
    display: block;
    z-index: 1;
  }

  button {
    padding: 0.4rem;
  }

  #main-container {
    display: flex;
    justify-content: center;
  }

  #tessa-main {
    height: 100%;
    width: 200%;
  }

  #tessa-link {
    
  }
}

#tessa-main {
  position: absolute;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 600;
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.900));
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}